<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li>
      <strong><%= question.title %></strong>
      <p><%= question.content %></p>
    </li>
  <% end %>
</ul>

<%= link_to '新しい質問を投稿する', new_question_path %>
