<% if current_user %>
    <%= link_to "質問投稿画面", new_question_path %><br>
<% end %>

<h1>Questions</h1>
<% if @questions %>
    <% @questions.each do |q| %>
        <p><%= link_to "質問タイトル", question_path(q) %></p>
    <% end %>
<% else %>
    <p>投稿された質問はありません</p>
<% end %>