<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

 body {
    font-family: "Lato", sans-serif;
 }

 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }

 .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-top: 60px;
 }

 .sidebar a:hover {
    color: #f1f1f1;
 }

 .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }

 .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
 }

 .openbtn:hover {
    background-color: #444;
 }

 #content {
    transition: margin-left 0.5s;
    padding: 10px;
    left:;
 }

.d-flex {
    width:100%;
}

.card {
  box-sizing: border-box;
  width: 210px;
  height: 210px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

</style>
</head>
<body>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="hide()">×</a>
  <a href="#">4年生</a>
  <a href="#">3年生</a>
  <a href="#">2年生</a>
  <a href="#">1年生</a>
</div>
<div id="content">
  <button class="openbtn" id="openbtn" onclick="show()">☰</button>
</div>

<script>
function show() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("content").style.marginLeft = "250px";
}

function hide() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("content").style.marginLeft = "0";
}
</script>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>      
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>      
      </div>
    </div>
  </div>
</div>
</body>
</html> 