<!DOCTYPE html>
<html lang="jp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<style>

body {
  font-family: "Lato", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  top: 54px;
  background: #1e1e1e;
  transition: all .5s ease;
}

.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}

.sidebar a.active,.sidebar a:hover{
  border-left: 5px solid black;
  padding-left: 50px;
  color: white;
}

.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: -40px 0;
  font-size: 29px;
  background: #262626;
  color: white;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
  left: 0;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  margin-left: 240px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel{
  margin-left: 240px;
  opacity: 1;
  visibility: visible;
}

@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  
  header,#btn,#cancel{
    display: none;
  }
  
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  
  .sidebar a{
    height: 60px;
  }
  
  .sidebar a i{
    margin-left: -10px;
  }
  
  a:hover {
    width: 200px;
    background: inherit;
  }
  
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

.content {
  transition: margin-left 0.5s;
  padding: 10px;
}

.d-flex {
  width:100%;
}

.card {
  box-sizing: border-box;
  width: 210px;
  height: 210px;
  /*background: rgba(217, 217, 217, 0.58);*/
  border: 1px solid black;
  /*box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);*/
  /*backdrop-filter: blur(6px);*/
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  left: 200px
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

</style>

<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>何年生？</header>
    <a href="#" class="active">
      <i class="fas fa-qrcode"></i>
      <span>4年生</span>
    </a>
    <a href="#">
      <i class="fas fa-link"></i>
      <span>3年生</span>
    </a>
    <a href="#">
      <i class="fas fa-stream"></i>
      <span>2年生</span>
    </a>
    <a href="#">
       <i class="fas fa-calendar"></i>
      <span>1年生</span>
    </a>
    
<%
=begin
%>
   <a href="#">
      <%= link_to "科目追加",
      subjects_path, class:"
      nav-link" %>
    </a>
  </div>
  
<%
=end
%>
   

<script>
  const sidebar = document.querySelector('.sidebar');
  const openMenu = document.querySelector('label #btn');
  const closeMenu = document.querySelector('label #cancel');
  
  openMenu.addEventListener('click', toggleSidebarVisibility);
  closeMenu.addEventListener('click', toggleSidebarVisibility);
  
  function toggleSidebarVisibility() {
    const sidebar = document.querySelector('.sidebar');
    sidebar.classList.toggle('sidebar--visible');  }
  
  const sidebarLinks = document.querySelectorAll('.sidebar a');
  sidebarLinks.forEach(link => {
      link.addEventListener('click', () => {
          const checkbox = document.getElementById('check');
          checkbox.checked = false;
          toggleSidebarVisibility();
      });
  });

</script>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>      
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="container">
            <h5>授業名</h5>
        </div>      
      </div>
    </div>
  </div>
</div>
</body>
</html> 